@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Poppins%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Open+Sans%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-yFCiaPbmkdG3: #dddddd1a;
  --plasmic-token-unnamed-style-token: var(--token-yFCiaPbmkdG3);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-Gq7qB-5yFAm1_font-family: "Inter", sans-serif;
  --mixin-Gq7qB-5yFAm1_font-size: 16px;
  --mixin-Gq7qB-5yFAm1_font-weight: 400;
  --mixin-Gq7qB-5yFAm1_font-style: normal;
  --mixin-Gq7qB-5yFAm1_color: #535353;
  --mixin-Gq7qB-5yFAm1_text-align: left;
  --mixin-Gq7qB-5yFAm1_text-transform: none;
  --mixin-Gq7qB-5yFAm1_line-height: 1.5;
  --mixin-Gq7qB-5yFAm1_letter-spacing: normal;
  --mixin-Gq7qB-5yFAm1_white-space: pre-wrap;
  --mixin-Gq7qB-5yFAm1_user-select: text;
  --mixin-Gq7qB-5yFAm1_text-decoration-line: none;
  --mixin-Gq7qB-5yFAm1_text-overflow: clip;
  --mixin-71v7mfDLV63-_color: #000000;
  --mixin-71v7mfDLV63-_font-weight: 700;
  --mixin-71v7mfDLV63-_font-size: 64px;
  --mixin-71v7mfDLV63-_line-height: 1;
  --mixin-71v7mfDLV63-_letter-spacing: -1px;
  --mixin-71v7mfDLV63-_white-space: pre-wrap;
  --mixin-8rGCRgER5AFA_color: #000000;
  --mixin-8rGCRgER5AFA_font-size: 48px;
  --mixin-8rGCRgER5AFA_font-weight: 700;
  --mixin-8rGCRgER5AFA_letter-spacing: -0.5px;
  --mixin-8rGCRgER5AFA_line-height: 1.1;
  --mixin-8rGCRgER5AFA_white-space: pre-wrap;
  --mixin-uKpfrHSXeMSM_color: #0070f3;
  --mixin-uKpfrHSXeMSM_white-space: pre-wrap;
  --mixin-revo5gqxw2Z7_color: #000000;
  --mixin-revo5gqxw2Z7_font-size: 32px;
  --mixin-revo5gqxw2Z7_font-weight: 600;
  --mixin-revo5gqxw2Z7_line-height: 1.2;
  --mixin-revo5gqxw2Z7_white-space: pre-wrap;
  --mixin-2t9tNqPQttZ7_color: #000000;
  --mixin-2t9tNqPQttZ7_font-size: 24px;
  --mixin-2t9tNqPQttZ7_font-weight: 600;
  --mixin-2t9tNqPQttZ7_line-height: 1.3;
  --mixin-2t9tNqPQttZ7_white-space: pre-wrap;
  --mixin-F3pyKRmB8oE1_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-F3pyKRmB8oE1_border-bottom-color: #dddddd;
  --mixin-F3pyKRmB8oE1_border-bottom-style: solid;
  --mixin-F3pyKRmB8oE1_border-bottom-width: 1px;
  --mixin-F3pyKRmB8oE1_border-left-color: #dddddd;
  --mixin-F3pyKRmB8oE1_border-left-style: solid;
  --mixin-F3pyKRmB8oE1_border-left-width: 1px;
  --mixin-F3pyKRmB8oE1_border-right-color: #dddddd;
  --mixin-F3pyKRmB8oE1_border-right-style: solid;
  --mixin-F3pyKRmB8oE1_border-right-width: 1px;
  --mixin-F3pyKRmB8oE1_border-top-color: #dddddd;
  --mixin-F3pyKRmB8oE1_border-top-style: solid;
  --mixin-F3pyKRmB8oE1_border-top-width: 1px;
  --mixin-F3pyKRmB8oE1_border-bottom-left-radius: 3px;
  --mixin-F3pyKRmB8oE1_border-bottom-right-radius: 3px;
  --mixin-F3pyKRmB8oE1_border-top-left-radius: 3px;
  --mixin-F3pyKRmB8oE1_border-top-right-radius: 3px;
  --mixin-F3pyKRmB8oE1_font-family: "Inconsolata";
  --mixin-F3pyKRmB8oE1_padding-bottom: 1px;
  --mixin-F3pyKRmB8oE1_padding-left: 4px;
  --mixin-F3pyKRmB8oE1_padding-right: 4px;
  --mixin-F3pyKRmB8oE1_padding-top: 1px;
  --mixin-F3pyKRmB8oE1_white-space: pre-wrap;
  --mixin-FCaMWr7T3KKN_border-left-color: #dddddd;
  --mixin-FCaMWr7T3KKN_border-left-style: solid;
  --mixin-FCaMWr7T3KKN_border-left-width: 3px;
  --mixin-FCaMWr7T3KKN_color: #888888;
  --mixin-FCaMWr7T3KKN_padding-left: 10px;
  --mixin-FCaMWr7T3KKN_white-space: pre-wrap;
  --mixin-WMdGuBWokU_G_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-WMdGuBWokU_G_border-bottom-color: #dddddd;
  --mixin-WMdGuBWokU_G_border-bottom-style: solid;
  --mixin-WMdGuBWokU_G_border-bottom-width: 1px;
  --mixin-WMdGuBWokU_G_border-left-color: #dddddd;
  --mixin-WMdGuBWokU_G_border-left-style: solid;
  --mixin-WMdGuBWokU_G_border-left-width: 1px;
  --mixin-WMdGuBWokU_G_border-right-color: #dddddd;
  --mixin-WMdGuBWokU_G_border-right-style: solid;
  --mixin-WMdGuBWokU_G_border-right-width: 1px;
  --mixin-WMdGuBWokU_G_border-top-color: #dddddd;
  --mixin-WMdGuBWokU_G_border-top-style: solid;
  --mixin-WMdGuBWokU_G_border-top-width: 1px;
  --mixin-WMdGuBWokU_G_border-bottom-left-radius: 3px;
  --mixin-WMdGuBWokU_G_border-bottom-right-radius: 3px;
  --mixin-WMdGuBWokU_G_border-top-left-radius: 3px;
  --mixin-WMdGuBWokU_G_border-top-right-radius: 3px;
  --mixin-WMdGuBWokU_G_font-family: "Inconsolata";
  --mixin-WMdGuBWokU_G_padding-bottom: 3px;
  --mixin-WMdGuBWokU_G_padding-left: 6px;
  --mixin-WMdGuBWokU_G_padding-right: 6px;
  --mixin-WMdGuBWokU_G_padding-top: 3px;
  --mixin-WMdGuBWokU_G_white-space: pre-wrap;
  --mixin-iESuPKoY3Nhp_display: flex;
  --mixin-iESuPKoY3Nhp_flex-direction: column;
  --mixin-iESuPKoY3Nhp_align-items: stretch;
  --mixin-iESuPKoY3Nhp_justify-content: flex-start;
  --mixin-iESuPKoY3Nhp_list-style-position: outside;
  --mixin-iESuPKoY3Nhp_padding-left: 40px;
  --mixin-iESuPKoY3Nhp_position: relative;
  --mixin-iESuPKoY3Nhp_list-style-type: disc;
  --mixin-iESuPKoY3Nhp_white-space: pre-wrap;
  --mixin-xpgRzpUAZTts_display: flex;
  --mixin-xpgRzpUAZTts_flex-direction: column;
  --mixin-xpgRzpUAZTts_align-items: stretch;
  --mixin-xpgRzpUAZTts_justify-content: flex-start;
  --mixin-xpgRzpUAZTts_list-style-position: outside;
  --mixin-xpgRzpUAZTts_padding-left: 40px;
  --mixin-xpgRzpUAZTts_position: relative;
  --mixin-xpgRzpUAZTts_list-style-type: decimal;
  --mixin-xpgRzpUAZTts_white-space: pre-wrap;
  --mixin-s6rEd0FT-ZFj_color: #000000;
  --mixin-s6rEd0FT-ZFj_font-size: 20px;
  --mixin-s6rEd0FT-ZFj_font-weight: 600;
  --mixin-s6rEd0FT-ZFj_line-height: 1.5;
  --mixin-s6rEd0FT-ZFj_white-space: pre-wrap;
  --mixin-8Ts6ScrIDn3V_color: #000000;
  --mixin-8Ts6ScrIDn3V_font-size: 16px;
  --mixin-8Ts6ScrIDn3V_font-weight: 600;
  --mixin-8Ts6ScrIDn3V_line-height: 1.5;
  --mixin-8Ts6ScrIDn3V_white-space: pre-wrap;
  --mixin-QKOmDai3CdSA_color: #3291ff;
  --mixin-QKOmDai3CdSA_white-space: pre-wrap;
  --mixin-6VYwGCP7RpQu_white-space: pre-wrap;
  --mixin-a6vWxel67XMu_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-IN9EYmynE2LG_box-shadow: inset 0px 0px 0px 1px rgba(221, 221, 221, 1);
  --plasmic-mixin-app-tile_box-shadow: var(--mixin-IN9EYmynE2LG_box-shadow);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-Gq7qB-5yFAm1_font-family);
  font-size: var(--mixin-Gq7qB-5yFAm1_font-size);
  font-weight: var(--mixin-Gq7qB-5yFAm1_font-weight);
  font-style: var(--mixin-Gq7qB-5yFAm1_font-style);
  color: var(--mixin-Gq7qB-5yFAm1_color);
  text-align: var(--mixin-Gq7qB-5yFAm1_text-align);
  text-transform: var(--mixin-Gq7qB-5yFAm1_text-transform);
  line-height: var(--mixin-Gq7qB-5yFAm1_line-height);
  letter-spacing: var(--mixin-Gq7qB-5yFAm1_letter-spacing);
  white-space: var(--mixin-Gq7qB-5yFAm1_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-71v7mfDLV63-_color);
  font-weight: var(--mixin-71v7mfDLV63-_font-weight);
  font-size: var(--mixin-71v7mfDLV63-_font-size);
  line-height: var(--mixin-71v7mfDLV63-_line-height);
  letter-spacing: var(--mixin-71v7mfDLV63-_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-8rGCRgER5AFA_color);
  font-size: var(--mixin-8rGCRgER5AFA_font-size);
  font-weight: var(--mixin-8rGCRgER5AFA_font-weight);
  letter-spacing: var(--mixin-8rGCRgER5AFA_letter-spacing);
  line-height: var(--mixin-8rGCRgER5AFA_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-uKpfrHSXeMSM_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-revo5gqxw2Z7_color);
  font-size: var(--mixin-revo5gqxw2Z7_font-size);
  font-weight: var(--mixin-revo5gqxw2Z7_font-weight);
  line-height: var(--mixin-revo5gqxw2Z7_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-2t9tNqPQttZ7_color);
  font-size: var(--mixin-2t9tNqPQttZ7_font-size);
  font-weight: var(--mixin-2t9tNqPQttZ7_font-weight);
  line-height: var(--mixin-2t9tNqPQttZ7_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-F3pyKRmB8oE1_font-family);
  border-radius: var(--mixin-F3pyKRmB8oE1_border-top-left-radius)
    var(--mixin-F3pyKRmB8oE1_border-top-right-radius)
    var(--mixin-F3pyKRmB8oE1_border-bottom-right-radius)
    var(--mixin-F3pyKRmB8oE1_border-bottom-left-radius);
  padding: var(--mixin-F3pyKRmB8oE1_padding-top)
    var(--mixin-F3pyKRmB8oE1_padding-right)
    var(--mixin-F3pyKRmB8oE1_padding-bottom)
    var(--mixin-F3pyKRmB8oE1_padding-left);
  border-top: var(--mixin-F3pyKRmB8oE1_border-top-width)
    var(--mixin-F3pyKRmB8oE1_border-top-style)
    var(--mixin-F3pyKRmB8oE1_border-top-color);
  border-right: var(--mixin-F3pyKRmB8oE1_border-right-width)
    var(--mixin-F3pyKRmB8oE1_border-right-style)
    var(--mixin-F3pyKRmB8oE1_border-right-color);
  border-bottom: var(--mixin-F3pyKRmB8oE1_border-bottom-width)
    var(--mixin-F3pyKRmB8oE1_border-bottom-style)
    var(--mixin-F3pyKRmB8oE1_border-bottom-color);
  border-left: var(--mixin-F3pyKRmB8oE1_border-left-width)
    var(--mixin-F3pyKRmB8oE1_border-left-style)
    var(--mixin-F3pyKRmB8oE1_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-FCaMWr7T3KKN_color);
  padding-left: var(--mixin-FCaMWr7T3KKN_padding-left);
  border-left: var(--mixin-FCaMWr7T3KKN_border-left-width)
    var(--mixin-FCaMWr7T3KKN_border-left-style)
    var(--mixin-FCaMWr7T3KKN_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-WMdGuBWokU_G_font-family);
  border-radius: var(--mixin-WMdGuBWokU_G_border-top-left-radius)
    var(--mixin-WMdGuBWokU_G_border-top-right-radius)
    var(--mixin-WMdGuBWokU_G_border-bottom-right-radius)
    var(--mixin-WMdGuBWokU_G_border-bottom-left-radius);
  padding: var(--mixin-WMdGuBWokU_G_padding-top)
    var(--mixin-WMdGuBWokU_G_padding-right)
    var(--mixin-WMdGuBWokU_G_padding-bottom)
    var(--mixin-WMdGuBWokU_G_padding-left);
  border-top: var(--mixin-WMdGuBWokU_G_border-top-width)
    var(--mixin-WMdGuBWokU_G_border-top-style)
    var(--mixin-WMdGuBWokU_G_border-top-color);
  border-right: var(--mixin-WMdGuBWokU_G_border-right-width)
    var(--mixin-WMdGuBWokU_G_border-right-style)
    var(--mixin-WMdGuBWokU_G_border-right-color);
  border-bottom: var(--mixin-WMdGuBWokU_G_border-bottom-width)
    var(--mixin-WMdGuBWokU_G_border-bottom-style)
    var(--mixin-WMdGuBWokU_G_border-bottom-color);
  border-left: var(--mixin-WMdGuBWokU_G_border-left-width)
    var(--mixin-WMdGuBWokU_G_border-left-style)
    var(--mixin-WMdGuBWokU_G_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-iESuPKoY3Nhp_display);
  flex-direction: var(--mixin-iESuPKoY3Nhp_flex-direction);
  align-items: var(--mixin-iESuPKoY3Nhp_align-items);
  justify-content: var(--mixin-iESuPKoY3Nhp_justify-content);
  list-style-position: var(--mixin-iESuPKoY3Nhp_list-style-position);
  padding-left: var(--mixin-iESuPKoY3Nhp_padding-left);
  position: var(--mixin-iESuPKoY3Nhp_position);
  list-style-type: var(--mixin-iESuPKoY3Nhp_list-style-type);
  flex-column-gap: var(--mixin-iESuPKoY3Nhp_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-xpgRzpUAZTts_display);
  flex-direction: var(--mixin-xpgRzpUAZTts_flex-direction);
  align-items: var(--mixin-xpgRzpUAZTts_align-items);
  justify-content: var(--mixin-xpgRzpUAZTts_justify-content);
  list-style-position: var(--mixin-xpgRzpUAZTts_list-style-position);
  padding-left: var(--mixin-xpgRzpUAZTts_padding-left);
  position: var(--mixin-xpgRzpUAZTts_position);
  list-style-type: var(--mixin-xpgRzpUAZTts_list-style-type);
  flex-column-gap: var(--mixin-xpgRzpUAZTts_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-s6rEd0FT-ZFj_color);
  font-size: var(--mixin-s6rEd0FT-ZFj_font-size);
  font-weight: var(--mixin-s6rEd0FT-ZFj_font-weight);
  line-height: var(--mixin-s6rEd0FT-ZFj_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-8Ts6ScrIDn3V_color);
  font-size: var(--mixin-8Ts6ScrIDn3V_font-size);
  font-weight: var(--mixin-8Ts6ScrIDn3V_font-weight);
  line-height: var(--mixin-8Ts6ScrIDn3V_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-QKOmDai3CdSA_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
