.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 8px 0px;
}
.curriculumPlanningHeader4 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 33px;
  padding-right: 33px;
  cursor: pointer;
  filter: blur(0px);
  min-width: 0;
}
.frame2965 {
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  flex-shrink: 0;
}
.frame2965 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.frame2965 > :global(.__wab_flex-container) > *,
.frame2965 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame2965 > :global(.__wab_flex-container) > picture > img,
.frame2965
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.text___22OCz {
  display: block;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.1799899999999999;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: auto;
  flex-shrink: 0;
  padding-top: 0px;
  padding-bottom: 0px;
}
.svg___3Kv3L {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #333;
  flex-grow: 1;
  width: 42px;
  height: 22px;
  flex-shrink: 0;
}
.freeBox {
  display: flex;
  position: relative;
  width: 100%;
  height: 1px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  flex-grow: 0;
  margin-right: 10px;
  margin-left: 10px;
  min-width: 0;
  border-top: 2px solid #00000033;
}
.svg__zeyBz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #333;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.curriculumPlanningSection3 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 16px;
  min-width: 0;
  padding: 16px 32px;
}
.curriculumPlanningSection3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.curriculumPlanningSection3 > :global(.__wab_flex-container) > *,
.curriculumPlanningSection3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.curriculumPlanningSection3 > :global(.__wab_flex-container) > picture > img,
.curriculumPlanningSection3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
  margin-top: 10px;
}
.appTile5 {
  display: flex;
  flex-direction: row;
  box-shadow: inset 0px 0px 0px 1px rgba(221, 221, 221, 1);
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
  width: 170px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  flex-shrink: 0;
  border-radius: 6px;
}
.img__qEb4S {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  display: block !important;
  flex-shrink: 0;
  border: 1px solid #dddddd;
}
.img__qEb4S > picture > img {
  object-fit: cover;
}
.img__qEb4S > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.frame2967 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 0;
  flex-direction: row;
  padding-left: 8px;
  padding-right: 4px;
  flex-shrink: 0;
  max-width: 70px;
  margin-right: 0px;
}
.frame2967 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: stretch;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
}
.frame2967 > :global(.__wab_flex-container) > *,
.frame2967 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame2967 > :global(.__wab_flex-container) > picture > img,
.frame2967
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
.text__sZdwh {
  display: block;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: auto;
  white-space: pre-wrap;
  height: 100%;
  padding-left: 10px;
  min-height: 0;
}
.svg__irI9R {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #333;
  height: 14px;
  left: 148px;
  top: 26px;
  width: 1em;
  flex-shrink: 0;
}
.appTile29 {
  display: flex;
  flex-direction: row;
  box-shadow: inset 0px 0px 0px 1px rgba(221, 221, 221, 1);
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
  width: 170px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-right: 0px;
  flex-shrink: 0;
  border-radius: 6px;
}
.img__p20Uw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  display: block !important;
  object-position: 50% 50%;
  flex-basis: auto;
  flex-shrink: 0;
  border: 1px solid #dddddd;
}
.img__p20Uw > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.img__p20Uw > :global(.__wab_img-spacer) > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.frame2997 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 0;
  flex-direction: row;
  padding-left: 15px;
  padding-right: 4px;
  flex-shrink: 0;
  margin-right: 17px;
  width: auto;
  max-width: 70px;
}
.frame2997 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: stretch;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
}
.frame2997 > :global(.__wab_flex-container) > *,
.frame2997 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame2997 > :global(.__wab_flex-container) > picture > img,
.frame2997
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
.text__a1T1S {
  display: block;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: auto;
  white-space: pre;
  height: 100%;
  margin-right: 26px;
  min-height: 0;
}
.svg__zeAd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #333;
  height: 14px;
  width: 1em;
  flex-shrink: 0;
}
.appTile33 {
  display: flex;
  flex-direction: row;
  box-shadow: inset 0px 0px 0px 1px rgba(221, 221, 221, 1);
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
  width: 170px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  flex-shrink: 0;
  border-radius: 6px;
}
.img__xlaIi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  display: block !important;
  flex-shrink: 0;
  border: 1px solid #dddddd;
}
.img__xlaIi > picture > img {
  object-fit: cover;
}
.img__xlaIi > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.frame3001 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 0;
  flex-direction: row;
  padding-left: 0px;
  padding-right: 4px;
  flex-shrink: 0;
  width: auto;
  max-width: 70px;
  overflow: visible;
  margin: auto auto auto 13px;
}
.frame3001 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: stretch;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
}
.frame3001 > :global(.__wab_flex-container) > *,
.frame3001 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3001 > :global(.__wab_flex-container) > picture > img,
.frame3001
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
.text__nV8Pr {
  display: block;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: auto;
  white-space: pre;
  height: 100%;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-left: calc(0px + 14px) !important;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  padding-left: 0px;
  min-height: 0;
}
.svg__h8K7F {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #333;
  height: 14px;
  left: 141px;
  top: 23px;
  width: 1em;
  flex-shrink: 0;
}
.appTile34 {
  display: flex;
  flex-direction: row;
  box-shadow: inset 0px 0px 0px 1px rgba(221, 221, 221, 1);
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
  width: 170px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  flex-shrink: 0;
  border-radius: 6px;
}
.img__iruB7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  display: block !important;
  flex-shrink: 0;
  border: 1px solid #dddddd;
}
.img__iruB7 > picture > img {
  object-fit: cover;
}
.img__iruB7 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.frame3002 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 0;
  flex-direction: row;
  padding-left: 8px;
  padding-right: 4px;
  flex-shrink: 0;
  margin-right: 0px;
  width: auto;
  max-width: 70px;
}
.frame3002 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: stretch;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
}
.frame3002 > :global(.__wab_flex-container) > *,
.frame3002 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3002 > :global(.__wab_flex-container) > picture > img,
.frame3002
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
.text__agBqK {
  display: block;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: auto;
  white-space: pre-wrap;
  height: 100%;
  padding-left: 25px;
  margin-right: 0px;
  padding-right: 0px;
  min-height: 0;
}
.svg__t5Bvc {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #333;
  height: 14px;
  left: 147px;
  top: 27px;
  width: 1em;
  flex-shrink: 0;
}
.appTile35 {
  display: flex;
  flex-direction: row;
  box-shadow: inset 0px 0px 0px 1px rgba(221, 221, 221, 1);
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
  width: 170px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  flex-shrink: 0;
  border-radius: 6px;
}
.img__pTkF4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  display: block !important;
  flex-shrink: 0;
  border: 1px solid #dddddd;
}
.img__pTkF4 > picture > img {
  object-fit: cover;
}
.img__pTkF4 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.frame3003 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 0;
  flex-direction: row;
  padding-left: 8px;
  padding-right: 4px;
  flex-shrink: 0;
  width: auto;
  max-width: 70px;
  margin-right: 0px;
}
.frame3003 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: stretch;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
}
.frame3003 > :global(.__wab_flex-container) > *,
.frame3003 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3003 > :global(.__wab_flex-container) > picture > img,
.frame3003
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
.text__vtLS {
  display: block;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: auto;
  white-space: pre-wrap;
  height: 100%;
  margin-right: 20px;
  min-height: 0;
}
.svg__skYOw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #333;
  height: 14px;
  width: 46px;
  flex-shrink: 0;
  margin: 0px;
}
.appTile36 {
  display: flex;
  flex-direction: row;
  box-shadow: inset 0px 0px 0px 1px rgba(221, 221, 221, 1);
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
  width: 170px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  flex-shrink: 0;
  border-radius: 6px;
}
.img___1DWa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  display: block !important;
  flex-shrink: 0;
  border: 1px solid #dddddd;
}
.img___1DWa > picture > img {
  object-fit: cover;
}
.img___1DWa > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.frame3004 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 0;
  flex-direction: row;
  padding-left: 0px;
  padding-right: 4px;
  flex-shrink: 0;
  width: auto;
  max-width: 70px;
  margin: auto auto auto 10px;
}
.frame3004 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: stretch;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
}
.frame3004 > :global(.__wab_flex-container) > *,
.frame3004 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3004 > :global(.__wab_flex-container) > picture > img,
.frame3004
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
.text__huMyw {
  display: block;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: auto;
  white-space: pre;
  height: 100%;
  min-height: 0;
}
.svg__oec7Q {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #333;
  height: 14px;
  left: 138px;
  top: 23px;
  width: 1em;
  flex-shrink: 0;
}
.appTile37 {
  display: flex;
  flex-direction: row;
  box-shadow: inset 0px 0px 0px 1px rgba(221, 221, 221, 1);
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
  width: 170px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  flex-shrink: 0;
  border-radius: 6px;
}
.img___8C0Ox {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  display: block !important;
  flex-shrink: 0;
  border: 1px solid #dddddd;
}
.img___8C0Ox > picture > img {
  object-fit: cover;
}
.img___8C0Ox > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.frame3005 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 0;
  flex-direction: row;
  padding-left: 8px;
  padding-right: 4px;
  flex-shrink: 0;
  width: auto;
  max-width: 70px;
  margin-right: 0px;
}
.frame3005 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: stretch;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
}
.frame3005 > :global(.__wab_flex-container) > *,
.frame3005 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3005 > :global(.__wab_flex-container) > picture > img,
.frame3005
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
.text___6UTtv {
  display: block;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: auto;
  white-space: pre;
  height: 100%;
  min-height: 0;
}
.svg___40N8Q {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #333;
  height: 14px;
  left: 145px;
  top: 24px;
  width: 1em;
  flex-shrink: 0;
}
