.collapsed {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  grid-row-gap: 0px;
  background: #fcfcfc;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.sideNav:global(.__wab_instance) {
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 1;
  flex-shrink: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sideNav:global(.__wab_instance) {
    top: 0px;
    left: 0px;
    position: sticky;
    flex-shrink: 0;
  }
}
.freeBox__gsiQb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  min-width: 0;
}
.frame2976 {
  background: url("./images/image41.svg") center center / cover no-repeat;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  position: sticky;
  min-width: 0;
  padding: 21px 33px;
}
.frame2976 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 25px);
  width: calc(100% + 25px);
}
.frame2976 > :global(.__wab_flex-container) > *,
.frame2976 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame2976 > :global(.__wab_flex-container) > picture > img,
.frame2976
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 25px;
}
.frame2975 {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 0px 2px rgba(221, 221, 221, 1);
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  border-radius: 5px;
  padding: 5px 10px;
}
.frame2975 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame2975 > :global(.__wab_flex-container) > *,
.frame2975 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame2975 > :global(.__wab_flex-container) > picture > img,
.frame2975
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__ayfom {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #333;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__isqPz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__i98Sw {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.frame2974 {
  width: auto;
  height: 29px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
}
.img__hFkaX {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  flex-shrink: 0;
}
.img__hFkaX > picture > img {
  object-fit: cover;
}
.img__hFkaX > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.svg__ccrCi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fcfcfc;
  width: 22px;
  height: 20px;
  flex-shrink: 0;
}
.freeBox__qsffa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  min-width: 0;
  padding: 8px 0px 0px;
}
.curriculumPlanningHeader4 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 33px;
  padding-right: 33px;
  cursor: pointer;
  filter: blur(0px);
  min-width: 0;
}
.frame2965 {
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  flex-shrink: 0;
}
.frame2965 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.frame2965 > :global(.__wab_flex-container) > *,
.frame2965 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame2965 > :global(.__wab_flex-container) > picture > img,
.frame2965
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.text__f1Pyr {
  display: block;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.1799899999999999;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: auto;
  flex-shrink: 0;
  padding-top: 0px;
  padding-bottom: 0px;
}
.svg__qnKJ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #333;
  flex-grow: 1;
  width: 42px;
  height: 22px;
  flex-shrink: 0;
}
.freeBox__wOhXh {
  display: flex;
  position: relative;
  width: 100%;
  height: 1px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  flex-grow: 0;
  margin-right: 10px;
  margin-left: 10px;
  min-width: 0;
  border-top: 2px solid #00000033;
}
.svg__papF2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #333;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.curriculumPlanningSection2 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 16px;
  min-width: 0;
  padding: 8px 32px 0px;
}
.curriculumPlanningSection2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.curriculumPlanningSection2 > :global(.__wab_flex-container) > *,
.curriculumPlanningSection2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.curriculumPlanningSection2 > :global(.__wab_flex-container) > picture > img,
.curriculumPlanningSection2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
  margin-top: 10px;
}
.recentlyUsedApps3 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  margin-left: calc(0px + 10px) !important;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  min-width: 0;
  padding: 8px 0px;
}
.recentlyUsedApps3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.recentlyUsedApps3 > :global(.__wab_flex-container) > *,
.recentlyUsedApps3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.recentlyUsedApps3 > :global(.__wab_flex-container) > picture > img,
.recentlyUsedApps3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
  margin-top: 10px;
}
.collapsed .recentlyUsedApps3 {
  margin-left: calc(0px + 10px) !important;
  margin-top: calc(0px + 10px) !important;
}
.appTile6 {
  display: flex;
  flex-direction: row;
  box-shadow: inset 0px 0px 0px 1px rgba(221, 221, 221, 1);
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
  width: 170px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  flex-shrink: 0;
  border-radius: 6px;
}
.img__kkVmv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 59px;
  display: block !important;
  flex-shrink: 0;
  border: 1px solid #dddddd;
}
.img__kkVmv > picture > img {
  object-fit: cover;
}
.img__kkVmv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.frame2968 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 0;
  flex-direction: row;
  padding-left: 8px;
  padding-right: 4px;
  flex-shrink: 0;
  max-width: 70px;
  margin-right: 0px;
}
.frame2968 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: stretch;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
}
.frame2968 > :global(.__wab_flex-container) > *,
.frame2968 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame2968 > :global(.__wab_flex-container) > picture > img,
.frame2968
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
.text__iQno {
  display: block;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: auto;
  white-space: pre;
  height: 100%;
  margin-right: 21px;
  min-height: 0;
}
.svg__zGz5A {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #333;
  width: 33px;
  margin-top: 0px;
  height: 14px;
  flex-shrink: 0;
}
.appTile38 {
  display: flex;
  flex-direction: row;
  box-shadow: inset 0px 0px 0px 1px rgba(221, 221, 221, 1);
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
  width: 170px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  flex-shrink: 0;
  border-radius: 6px;
}
.img__ktPwy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  display: block !important;
  flex-shrink: 0;
  border: 1px solid #dddddd;
}
.img__ktPwy > picture > img {
  object-fit: cover;
}
.img__ktPwy > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.frame3006 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 0;
  flex-direction: row;
  padding-left: 8px;
  padding-right: 4px;
  flex-shrink: 0;
  max-width: 70px;
  margin-right: 0px;
}
.frame3006 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: stretch;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
}
.frame3006 > :global(.__wab_flex-container) > *,
.frame3006 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3006 > :global(.__wab_flex-container) > picture > img,
.frame3006
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
.text__spi4Q {
  display: block;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: auto;
  white-space: pre;
  height: 100%;
  margin-right: 14px;
  min-height: 0;
}
.svg__kzaSe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #333;
  width: 37px;
  height: 14px;
  margin-right: 0px;
  flex-shrink: 0;
}
.appTile39 {
  display: flex;
  flex-direction: row;
  box-shadow: inset 0px 0px 0px 1px rgba(221, 221, 221, 1);
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
  width: 170px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  flex-shrink: 0;
  border-radius: 6px;
}
.img__rhz1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  display: block !important;
  flex-shrink: 0;
  border: 1px solid #dddddd;
}
.img__rhz1 > picture > img {
  object-fit: cover;
}
.img__rhz1 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.frame3007 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 0;
  flex-direction: row;
  padding-left: 8px;
  padding-right: 4px;
  flex-shrink: 0;
  max-width: 70px;
  margin-right: 0px;
}
.frame3007 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: stretch;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
}
.frame3007 > :global(.__wab_flex-container) > *,
.frame3007 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3007 > :global(.__wab_flex-container) > picture > img,
.frame3007
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
.text__ipWbI {
  display: block;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: auto;
  white-space: pre;
  height: 100%;
  padding-left: 0px;
  min-height: 0;
}
.svg__g0OR {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #333;
  height: 14px;
  width: 5px;
  left: 150px;
  top: 25.412490844726562px;
  flex-shrink: 0;
}
.appTile40 {
  display: flex;
  flex-direction: row;
  box-shadow: inset 0px 0px 0px 1px rgba(221, 221, 221, 1);
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
  width: 170px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  flex-shrink: 0;
  border-radius: 6px;
}
.img__tLwCe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  display: block !important;
  object-position: center center;
  flex-shrink: 0;
  border: 1px solid #dddddd;
}
.img__tLwCe > picture > img {
  object-fit: cover;
  object-position: center center;
}
.img__tLwCe > :global(.__wab_img-spacer) > img {
  object-fit: cover;
  object-position: center center;
}
.frame3008 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 0;
  flex-direction: row;
  padding-left: 8px;
  padding-right: 4px;
  flex-shrink: 0;
  max-width: 70px;
  margin-right: 0px;
}
.frame3008 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: stretch;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
}
.frame3008 > :global(.__wab_flex-container) > *,
.frame3008 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3008 > :global(.__wab_flex-container) > picture > img,
.frame3008
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
.text___1UOkZ {
  display: block;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: auto;
  white-space: pre;
  height: 100%;
  min-height: 0;
}
.svg__wbsEt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #333;
  height: 14px;
  width: 10px;
  margin-left: 26px;
  flex-shrink: 0;
}
.appTile41 {
  display: flex;
  flex-direction: row;
  box-shadow: inset 0px 0px 0px 1px rgba(221, 221, 221, 1);
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
  width: 170px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  flex-shrink: 0;
  border-radius: 6px;
}
.img__mei8O {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  display: block !important;
  flex-shrink: 0;
  border: 1px solid #dddddd;
}
.img__mei8O > picture > img {
  object-fit: cover;
}
.img__mei8O > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.frame3009 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 0;
  flex-direction: row;
  padding-left: 0px;
  padding-right: 4px;
  flex-shrink: 0;
  max-width: 70px;
  margin-right: 0px;
}
.frame3009 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: stretch;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
}
.frame3009 > :global(.__wab_flex-container) > *,
.frame3009 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3009 > :global(.__wab_flex-container) > picture > img,
.frame3009
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
.text___8Xi6R {
  display: block;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: auto;
  white-space: pre;
  height: 100%;
  margin-left: calc(9px + 14px) !important;
  min-height: 0;
}
.svg___08OSo {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #333;
  height: 14px;
  left: 136px;
  top: 24.412490844726562px;
  width: 1em;
  flex-shrink: 0;
}
.collapsibleSection:global(.__wab_instance) {
  position: relative;
  margin: 0px;
}
.freeBox___66RPq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px;
}
.curriculumPlanningHeader5 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 33px;
  padding-right: 33px;
  cursor: pointer;
  filter: blur(0px);
  min-width: 0;
}
.frame2966 {
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  flex-shrink: 0;
}
.frame2966 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.frame2966 > :global(.__wab_flex-container) > *,
.frame2966 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame2966 > :global(.__wab_flex-container) > picture > img,
.frame2966
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.text__yqwqV {
  display: block;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.1799899999999999;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: auto;
  flex-shrink: 0;
  padding-top: 0px;
  padding-bottom: 0px;
}
.svg__w7Hlt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #333;
  flex-grow: 1;
  width: 42px;
  height: 22px;
  flex-shrink: 0;
}
.freeBox__fExBy {
  display: flex;
  position: relative;
  width: 100%;
  height: 1px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  flex-grow: 0;
  margin-right: 10px;
  margin-left: 10px;
  min-width: 0;
  border-top: 2px solid #00000033;
}
.svg__m4Piv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #333;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.curriculumPlanningSection {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 16px;
  min-width: 0;
  padding: 16px 32px;
}
.curriculumPlanningSection > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.curriculumPlanningSection > :global(.__wab_flex-container) > *,
.curriculumPlanningSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.curriculumPlanningSection > :global(.__wab_flex-container) > picture > img,
.curriculumPlanningSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
  margin-top: 10px;
}
.appTile2 {
  display: flex;
  flex-direction: row;
  box-shadow: inset 0px 0px 0px 1px rgba(221, 221, 221, 1);
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
  width: 170px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  flex-shrink: 0;
  border-radius: 6px;
}
.img___9Kb3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  display: block !important;
  flex-shrink: 0;
  border: 1px solid #dddddd;
}
.img___9Kb3 > picture > img {
  object-fit: cover;
}
.img___9Kb3 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.frame2964 {
  height: 42px;
  display: flex;
  position: relative;
  flex-grow: 0;
  flex-direction: row;
  flex-shrink: 0;
  width: auto;
  max-width: 70px;
  left: auto;
  top: auto;
  padding: 0px 0px 0px 12px;
  margin: auto 0px;
}
.frame2964 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: stretch;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
}
.frame2964 > :global(.__wab_flex-container) > *,
.frame2964 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame2964 > :global(.__wab_flex-container) > picture > img,
.frame2964
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
.text__vwH4U {
  display: block;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: auto;
  white-space: pre;
  height: 15px;
  margin-top: auto;
  margin-right: 0px;
  margin-bottom: auto;
  margin-left: calc(13px + 14px) !important;
  user-select: text;
  padding: 0px 20px 0px 0px;
}
.svg__bHWzI {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #333;
  height: 14px;
  left: 144px;
  top: 24.23748779296875px;
  width: 1em;
  flex-shrink: 0;
}
.appTile15 {
  display: flex;
  flex-direction: row;
  box-shadow: inset 0px 0px 0px 1px rgba(221, 221, 221, 1);
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
  width: 170px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  left: auto;
  top: auto;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  border-radius: 6px;
}
.img__fVcbI {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  display: block !important;
  object-position: center center;
  flex-shrink: 0;
  border: 1px solid #dddddd;
}
.img__fVcbI > picture > img {
  object-fit: cover;
  object-position: center center;
}
.img__fVcbI > :global(.__wab_img-spacer) > img {
  object-fit: cover;
  object-position: center center;
}
.frame2983 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 0;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 4px;
  flex-shrink: 0;
  width: auto;
  max-width: 70px;
  margin-right: 0px;
}
.frame2983 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: stretch;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
}
.frame2983 > :global(.__wab_flex-container) > *,
.frame2983 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame2983 > :global(.__wab_flex-container) > picture > img,
.frame2983
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
.text__kmX2Y {
  display: block;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: auto;
  white-space: pre;
  height: 100%;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-left: calc(0px + 14px) !important;
  padding-left: 2px;
  min-height: 0;
}
.svg___8U6MH {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #333;
  height: 14px;
  left: 143px;
  top: 25px;
  width: 1em;
  flex-shrink: 0;
}
.appTile16 {
  display: flex;
  flex-direction: row;
  box-shadow: inset 0px 0px 0px 1px rgba(221, 221, 221, 1);
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
  width: 170px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  flex-shrink: 0;
  border-radius: 6px;
}
.img__ilRj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  display: block !important;
  flex-shrink: 0;
  border: 1px solid #dddddd;
}
.img__ilRj > picture > img {
  object-fit: cover;
}
.img__ilRj > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.frame2984 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 0;
  flex-direction: row;
  padding-left: 8px;
  padding-right: 4px;
  flex-shrink: 0;
  margin-right: 0px;
  width: auto;
  max-width: 70px;
}
.frame2984 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: stretch;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
}
.frame2984 > :global(.__wab_flex-container) > *,
.frame2984 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame2984 > :global(.__wab_flex-container) > picture > img,
.frame2984
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
.text__vmiIa {
  display: block;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: auto;
  white-space: pre-wrap;
  height: 100%;
  margin-left: calc(22px + 14px) !important;
  min-height: 0;
}
.svg___4I6S5 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #333;
  height: 14px;
  left: 145px;
  top: 23px;
  width: 1em;
  flex-shrink: 0;
}
.appTile24 {
  display: flex;
  flex-direction: row;
  box-shadow: inset 0px 0px 0px 1px rgba(221, 221, 221, 1);
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
  width: 170px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  flex-shrink: 0;
  border-radius: 6px;
}
.img__guvft {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  display: block !important;
  flex-shrink: 0;
  border: 1px solid #dddddd;
}
.img__guvft > picture > img {
  object-fit: cover;
}
.img__guvft > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.frame2992 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 0;
  flex-direction: row;
  padding-left: 8px;
  padding-right: 4px;
  flex-shrink: 0;
  width: auto;
  max-width: 70px;
  margin-right: 0px;
}
.frame2992 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: stretch;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
}
.frame2992 > :global(.__wab_flex-container) > *,
.frame2992 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame2992 > :global(.__wab_flex-container) > picture > img,
.frame2992
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
.text__yC1Tx {
  display: block;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: auto;
  white-space: pre;
  height: 100%;
  min-height: 0;
}
.svg__iAbcD {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #333;
  height: 14px;
  left: 143px;
  top: 25px;
  width: 1em;
  flex-shrink: 0;
}
.appTile32 {
  display: flex;
  flex-direction: row;
  box-shadow: inset 0px 0px 0px 1px rgba(221, 221, 221, 1);
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
  width: 170px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  flex-shrink: 0;
  border-radius: 6px;
}
.img__znyMk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  display: block !important;
  flex-shrink: 0;
  border: 1px solid #dddddd;
}
.img__znyMk > picture > img {
  object-fit: cover;
}
.img__znyMk > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.frame3000 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 0;
  flex-direction: row;
  padding-left: 0px;
  padding-right: 4px;
  flex-shrink: 0;
  width: auto;
  max-width: 70px;
  margin-right: 0px;
}
.frame3000 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: stretch;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
}
.frame3000 > :global(.__wab_flex-container) > *,
.frame3000 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3000 > :global(.__wab_flex-container) > picture > img,
.frame3000
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
.text__iwutK {
  display: block;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: auto;
  white-space: pre;
  height: 100%;
  margin-left: calc(16px + 14px) !important;
  padding-left: 0px;
  min-height: 0;
}
.svg__xtkpm {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #333;
  height: 14px;
  left: 142px;
  top: 25px;
  width: 1em;
  flex-shrink: 0;
}
.appTile22 {
  display: flex;
  flex-direction: row;
  box-shadow: inset 0px 0px 0px 1px rgba(221, 221, 221, 1);
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
  width: 170px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  flex-shrink: 0;
  border-radius: 6px;
}
.img__xxJez {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  display: block !important;
  flex-shrink: 0;
  border: 1px solid #dddddd;
}
.img__xxJez > picture > img {
  object-fit: cover;
}
.img__xxJez > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.frame2990 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 0;
  flex-direction: row;
  padding-left: 8px;
  padding-right: 4px;
  flex-shrink: 0;
  width: auto;
  max-width: 70px;
  margin-right: 0px;
}
.frame2990 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: stretch;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
}
.frame2990 > :global(.__wab_flex-container) > *,
.frame2990 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame2990 > :global(.__wab_flex-container) > picture > img,
.frame2990
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
.text__hCnTf {
  display: block;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: auto;
  white-space: pre;
  height: 100%;
  min-height: 0;
}
.svg__ePrXs {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #333;
  height: 14px;
  left: 144px;
  top: 22px;
  width: 1em;
  flex-shrink: 0;
}
.appTile23 {
  display: flex;
  flex-direction: row;
  box-shadow: inset 0px 0px 0px 1px rgba(221, 221, 221, 1);
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
  width: 170px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  flex-shrink: 0;
  border-radius: 6px;
}
.img__wOzL {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  display: block !important;
  flex-shrink: 0;
  border: 1px solid #dddddd;
}
.img__wOzL > picture > img {
  object-fit: cover;
}
.img__wOzL > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.frame2991 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 0;
  flex-direction: row;
  padding-left: 8px;
  padding-right: 4px;
  flex-shrink: 0;
  width: auto;
  max-width: 70px;
  margin-right: 0px;
}
.frame2991 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: stretch;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
}
.frame2991 > :global(.__wab_flex-container) > *,
.frame2991 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame2991 > :global(.__wab_flex-container) > picture > img,
.frame2991
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
.text__czBPn {
  display: block;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: auto;
  white-space: pre;
  height: 100%;
  min-height: 0;
}
.svg__gpQew {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #333;
  height: 14px;
  left: 140px;
  top: 25px;
  width: 1em;
  flex-shrink: 0;
}
